@import 'modulo';

div {
  @include estilo-layout(red, 1px solid red, 1rem);
  width: 100%;

  h1 {
    @include estilo-layout(green, none, none);
    text-decoration: underline;
    text-decoration-color: blue;
    text-align: center;
  }

  section {
    display: flex;
    padding-bottom: 10px;
    margin: 15px;
  }

  article {
    @include estilo-layout(none, 1px solid green, none);
    text-align: center;
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  article:nth-child(odd) {
    @include estilo-layout(blue, 1px solid green, 1rem);
  }

  article:last-child {
    @include estilo-layout(green, 1px solid blue, 24px);
    height: 90px;
  }

  article:nth-child(even) {
    @include estilo-layout(red, 1px solid green, 1rem);
  }
}
